.about-us {
    padding: 100px 0;

    .title {
        color: $ternary-color;
    }
    .title:last-child {
        margin-top: 20px;
    }
    .about-us-p {
        margin: auto 15px;
        font-size: 20px;
        line-height: 1.9;
    }

    .our-team {
        margin: auto 15px;

        img {
            border-radius:50%;
            margin-top: 10px; 
        }

        span {
            display: block;
        }

        span:last-of-type {
            font-weight: lighter;
            color: rgb(214, 212, 212);
            margin-top: -5px;
        }

        p {
            font-weight: 300;
            font-size: 13px;
            margin-top: 5px;
        }

        .icons {
            margin-top: -5px;

            a {
                color: #9da1a5;
                font-size: 18px;
            }
        }
    }
}

.privacy {
    a {
        color: $primary-color;
    }
}