.button {
    background: transparent;
    border: 1px solid $button-text-color;
    border-radius: $border-radius;
    color: $button-text-color;
    cursor: pointer;
    font-weight: bold;
    line-height: normal;
    overflow: visible;
    padding: .9rem 1.8rem;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
  
    &:hover {
      background: $primary-color;
      color: $button-background-color;
      border-color: $primary-color;
    }
  
    @include modifier('action') {
      background: $action-button-background-color;
      color: $action-button-text-color;
  
      &:hover {
        background: $action-button-background-color-hover;
        color: $action-button-text-color-hover;
      }
    }
  }
  
  
  .title {
    border-bottom: $border-line;
    font-size: 3rem;
    padding: 2rem 0 0.5rem 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #555;
    font-weight: light;
  }

.text-center {
  text-align: center;
}

.button-more {
  width: 150px;
  position: relative;
  background: #eBebeb;
  border-radius: 10px;
  cursor: pointer;
  font-weight: light;
  color: #888 ;
  line-height: normal;
  padding: 0.5rem 1rem;
  right: 0%;
  margin-top: 20px;
  font-size: 25px;
  border: none;
  
  &:hover {
    background: #c7c4c4;
    color: #222;
  }
}

.fa-facebook:hover {
  color:#3b5998;
}
.fa-twitter:hover {
  color: #55acee;
}
.fa-instagram:hover {
  color: #bc2a8d;
}
.fa-envelope:hover {
  color: $ternary-color;
}

.page_episode_panel_tabs {
  text-align: center;

  li {
    display: inline-block;
    margin: 15px 3px;
    
    a {
      
      font-size: 19px;
      background: 0 0;
      border: 2px solid $ternary-color;
      color: $ternary-color;
      height: 36px;
      width: 36px;
      text-align: center;
      line-height: 30px;
      display: block;
      border-radius: 100%;
      padding: 0;
    
        &:hover {
          color: rgb(50, 146, 116);
          border-color: rgb(50, 146, 116);
        }
    }
  }
}


/* videos overlay discription */

.drama {
  padding:20px auto 50px 0 ;
  

  .content {
      position: relative;
      width: 100%;
      margin: 10px 0 10px;
      overflow: hidden;

      .content-overlay {
          background: rgba(0,0,0,0.7);
          position: absolute;
          height: 99%;
          width: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          opacity: 0;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
      }

      &:hover .content-overlay{
          opacity: 1;
      }
  }
  
  .content-image{
      width: 100%;
  }
  
  .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
  }
  
  .content-title {
      color:$primary-color;
      font-weight: 600;
      font-family: sans-serif;
      margin-bottom: .8em;
      margin-top: -30px;
  }
  
  .content-details {

      p, span {
          color: $ternary-color;
          font-size: 16px; 
      }
      span {
          position: absolute;
          text-decoration: underline;
          bottom: -25%;
          left: 38%;
          font-weight: lighter;
      }
  }

  
  .fadeIn-bottom {
      top: 80%;
  }
}