@import 'mixins';

.h1 {
  font-size: 3.6rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}

.h2 {
  font-size: 3rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}

.h3 {
  font-size: 2.4rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}

.h4 {
  font-size: 1.8rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}

.h5 {
  font-size: 1.4rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}

.h6 {
  font-size: 1.2rem;

  @include modifier('bold') {
    font-weight: bold;
  }
}
