footer {
    width: 100%;

    .footer-wrapper {
        background-color: $footer-background-color;
        color: $footer-text-color;
        padding: 3rem 0;
        
        .row {
            margin: 0;
            padding: 0;
        }

        img {
            margin-top: 40px;
        }

        .more-info {
            h4 {
                color: $primary-color;
                font-size: 22px;
            }
            a:first-of-type {
                margin: 20px 0 10px;
            }
            a {
                display: block;
                color: #dddddd;
                font-size: 15px;
                margin-bottom: 8px;
                font-weight: lighter;
            }    
        }
        .social{
            h4 {
                color: $primary-color;
                font-size: 22px;
            }
            a:first-of-type {
                margin: 20px 0 10px;
            }
            a {
                display: block;
                font-size: 15px;
                margin-bottom: 8px;
                font-weight: lighter;
                color: #9da1a5;
            } 
            i {
                width: 25px;
                height: 25px;
                line-height: 25px;
                border-radius: 50%;
                cursor: pointer;
                } 
            }
        
       

        p {
            margin-top: 75px;
            font-size: 15px;
            font-weight: lighter;
            color: #dddddd;
        }
        @media (max-width : $screen-md-min - 1) {
            img {
                margin-bottom: 25px;
            }
            p {
                margin-top: 10px;
            }
        }
    }
}