.header {

    .black {
        background-color: #333; 
    }

    .navbar {
        padding-top: 15px; 
        li {
            margin-right: 20px;
        }

        a {
            font-size: 20px ;

            &:hover, &:focus {
                color: $primary-color!important;
            }
        }

        .nav-item a {
            color: $ternary-color;
        }

        .dropdown-menu{
            border-radius: 10px;
            padding: 15px 0px 15px 20px;
        }

       

        .dropdown-menu a{
            color: $primary-color;
        }

        .navbar-nav > .active > a,
        .navbar-nav > .active > a:hover,
        .navbar-nav > .active > a:focus {
            color: $primary-color!important;
        }

        button {
            border-color: $primary-color;
            
            .fa-bars {
                color: $primary-color!important;
            }
        }
    }

    .navbar-nav {
        float: left;
        padding: 0 0 5 70px;
    }
    @media (max-width : $screen-lg-min - 1) {
        .navbar-nav{
            text-align: right;
            float: none;
            margin-top: 22px;
        }
    }
}