// === COLOR NAMES ===
// Use http://chir.ag/projects/name-that-color 
$color-silver-tree: #4DB091;
$color-cod-gray: #1c1a1a;
$color-alabaster: #f8f8f8;
$color-white: white;
$color-tundora: #444;

// === THEME VARIABLES ===
// Default Hopesubs
$primary-color: $color-silver-tree;
$secondary-color: $color-cod-gray;
$ternary-color: $color-white;
$font-family: 'Cairo', 'sans-serif';
$text-color: $color-white;
$text-light-color: $color-white;
$body-background-color: $color-tundora;
$footer-background-color: $color-cod-gray;
$footer-text-color: $color-white;
$border-radius: 2px;
$footer-height: 80px;
$header-height: 70px;
$border-line: 1px solid rgba(204, 204, 204, 0.5);
$warning-color: red;

$action-button-background-color: $primary-color;
$action-button-text-color: $text-light-color;
$action-button-background-color-hover: darken($action-button-background-color, 10%);
$action-button-text-color-hover: $text-light-color;
$button-background-color: $text-light-color;
$button-text-color: $ternary-color;

$font-size: 62.5%;

// Bootstrap 4 grid sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;