@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'components';
@import 'header';
@import 'home';
@import 'darma-page';
@import 'watching-page';
@import 'about-us';
@import 'desclimer';
@import 'contact-us';
@import 'all-drama';
@import 'footer';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cairo', serif; 
}

html {
  font-size: $font-size;
  line-height: 1.428;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
}

#signin {
  position: absolute;
}