/* BEM mixins */
.h1 {
    font-size: 3.6rem; }
.h1--bold {
    font-weight: bold; }

.h2 {
    font-size: 3rem; }
.h2--bold {
    font-weight: bold; }

.h3 {
    font-size: 2.4rem; }
.h3--bold {
    font-weight: bold; }

.h4 {
    font-size: 1.8rem; }
.h4--bold {
    font-weight: bold; }

.h5 {
    font-size: 1.4rem; }
.h5--bold {
    font-weight: bold; }

.h6 {
    font-size: 1.2rem; }
.h6--bold {
    font-weight: bold; }

/* BEM mixins */
.log-out a{
    color: #fff;
    text-transform: uppercase;
}
.button {
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    line-height: normal;
    overflow: visible;
    padding: .9rem 1.8rem;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out; }
.button:hover {
    background: #4DB091;
    color: white;
    border-color: #4DB091; }
.button--action {
    background: #4DB091;
    color: white; }
.button--action:hover {
    background: #3d8d74;
    color: white; }

.title {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    font-size: 3rem;
    padding: 2rem 0 0.5rem 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #555;
    font-weight: light; }

.text-center {
    text-align: center; }

.button-more {
    width: 150px;
    position: relative;
    background: #eBebeb;
    border-radius: 10px;
    cursor: pointer;
    font-weight: light;
    color: #888;
    line-height: normal;
    padding: 0.5rem 1rem;
    right: 0%;
    margin-top: 20px;
    font-size: 25px;
    border: none; }
.button-more:hover {
    background: #c7c4c4;
    color: #222; }

.fa-facebook:hover {
    color: #3b5998; }

.fa-twitter:hover {
    color: #55acee; }

.fa-instagram:hover {
    color: #bc2a8d; }

.fa-envelope:hover {
    color: white; }

.page_episode_panel_tabs {
    text-align: center; }
.page_episode_panel_tabs li {
    display: inline-block;
    margin: 15px 3px; }
.page_episode_panel_tabs li a {
    font-size: 19px;
    background: 0 0;
    border: 2px solid white;
    color: white;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 30px;
    display: block;
    border-radius: 100%;
    padding: 0; }
.page_episode_panel_tabs li a:hover {
    color: #329274;
    border-color: #329274; }

/* videos overlay discription */
.drama {
    padding: 20px auto 50px 0; }
.drama .content {
    position: relative;
    width: 100%;
    margin: 10px 0 10px;
    overflow: hidden; }
.drama .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s; }
.drama .content:hover .content-overlay {
    opacity: 1; }
.drama .content-image {
    width: 100%; }
.drama .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
.drama .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1; }
.drama .content-title {
    color: #4DB091;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: .8em;
    margin-top: -30px; }
.drama .content-details p, .drama .content-details span {
    color: white;
    font-size: 16px; }
.drama .content-details span {
    position: absolute;
    text-decoration: underline;
    bottom: -25%;
    left: 38%;
    font-weight: lighter; }
.drama .fadeIn-bottom {
    top: 80%; }

.header .black {
    background-color: #333; }
.header .navbar {
    padding-top: 15px; }
.header .navbar li {
    margin-right: 20px; }
.header .navbar a {
    font-size: 20px; }
.header .navbar a:hover, .header .navbar a:focus {
    color: #4DB091 !important; }
.header .navbar .nav-item a {
    color: white; }
.header .navbar .dropdown-menu {
    border-radius: 10px;
    padding: 15px 0px 15px 20px; }
.header .navbar .dropdown-menu a {
    color: #4DB091; }
.header .navbar .navbar-nav > .active > a,
.header .navbar .navbar-nav > .active > a:hover,
.header .navbar .navbar-nav > .active > a:focus {
    color: #4DB091 !important; }
.header .navbar button {
    border-color: #4DB091; }
.header .navbar button .fa-bars {
    color: #4DB091 !important; }
.header .navbar-nav {
    float: left;
    padding: 0 0 5 70px; }
@media (max-width: 991px) {
    .header .navbar-nav {
        text-align: right;
        float: none;
        margin-top: 22px; 
    }
    .navbar-nav .nav-item ul{
        width: 100%;
    }
    
}

.home-page {
    padding-bottom: 50px;
    background: white; }
.home-page .slider img {
    width: 100%; }
.home-page .carousel-caption {
    top: 30%; }
.home-page .carousel-indicators li {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #4DB091; }
.home-page .carousel-indicators .active {
    background-color: #4DB091 !important; }
.home-page .post-title {
    margin-bottom: 20px; }
.home-page .carousel-caption h1 {
    font-size: 150px;
    font-weight: bolder; }
.home-page .carousel-caption h2 {
    font-size: 40px;
    font-weight: lighter; }
.home-page .carousel-caption .button {
    margin: 50px 5px 0 0;
    font-size: 14px; }
@media (max-width: 767px) {
    .home-page .carousel-caption h1 {
        font-size: 120px; } }
@media (max-width: 491px) {
    .home-page .carousel-caption h1 {
        font-size: 83px; } }
.home-page .title {
    padding: 40px 0 0 0; }
.home-page .responsive a {
    color: #4DB091;
    cursor: pointer; }
.home-page .responsive .slick-next:before, .home-page .responsive .slick-prev:before {
    color: #222; }
@media (max-width: 576px) {
    .home-page .responsive .slick-next {
        right: 96%;
        left: -25px; }
    .home-page .responsive .slick-prev {
        right: -7px;
        left: auto; } }
.home-page .responsive p {
    margin-top: 5px; }
.home-page .cl-btn {
    width: 100%; }
@media (max-width: 426px) {
    .home-page .cl-btn {
        font-size: 18px; } }
.home-page .modal-content {
    color: #222; }
.home-page form {
    text-align: right; }
.home-page form label {
    margin-right: 7px; }
.home-page form button {
    margin-right: 7px;
    font-size: 12.5px;
    padding: 5px 7.5px; }

.drama-page {
    padding: 150px 0; }
.drama-page .poster img {
    border: 4px solid white;
    width: 100%; }
.drama-page .name {
    padding: 20px 0;
    color: white;
    text-align: right; }
.drama-page .story {
    background: #4DB091;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: right; }
.drama-page .story p:first-child {
    margin: -22px -20.5px 15px;
    border-radius: 5px;
    background: #329274;
    font-size: 30px;
    padding: 7px 24px; }
.drama-page .drama-info {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(84, 84, 84, 0.54);
    margin-bottom: -4px;
    background: rgba(0, 0, 0, 0.3);
    text-align: right;
    border-radius: 5px; }
.drama-page .drama-info .button {
    margin-bottom: 20px;
    border-radius: 5px; }
.drama-page .drama-info span {
    display: block;
    margin-bottom: 10px; }
.drama-page .drama-info .titles span:after {
    content: " :"; }
.drama-page .drama-info .episodes {
    display: none; }
.drama-page .drama-info .episodes span {
    text-align: right;
    font-size: 16px;
    display: inline; }
.drama-page .drama-info .episodes .episode {
    margin-bottom: 12px; }
.drama-page .drama-info .episodes .episode a {
    float: left;
    font-size: 19px;
    color: #4DB091; }
.drama-page .drama-info .episodes .episode a:hover {
    color: #329274; }
@media (max-width: 1199px) {
    .drama-page .drama-info {
        margin-top: 20px; } }
@media (max-width: 991px) {
    .drama-page .drama-info {
        margin-top: -100px; } }
@media (max-width: 767px) {
    .drama-page .drama-info {
        margin-top: 20px;
        left: -2%; } }

.watching-page {
    padding: 150px 0; }
.watching-page .name {
    margin-bottom: 30px; }
.watching-page .drama-info {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(84, 84, 84, 0.54);
    margin-bottom: -4px;
    background: rgba(0, 0, 0, 0.3);
    text-align: right;
    border-radius: 5px; }
.watching-page .drama-info .button {
    margin-bottom: 20px;
    border-radius: 5px; }
.watching-page .drama-info .episodes span {
    text-align: right;
    font-size: 16px; }
.watching-page .drama-info .episodes a {
    float: left;
    font-size: 19px;
    color: #4DB091; }
.watching-page .drama-info .episodes a:hover {
    color: #329274; }
.watching-page .drama-info .episodes .episode {
    margin-bottom: 12px; }
.watching-page .more-servers {
    width: 100%; }
.watching-page .more-servers button {
    width: 100%; }
.watching-page .more-servers .dropdown-menu {
    width: 85%;
    font-size: 13px; }
.watching-page .drama-info .button {
    text-align: center;
    background-color: #4DB091;
    border-color: #4DB091;
    cursor: auto; }
@media (max-width: 767px) {
    .watching-page .drama-info {
        left: -2.7%; }
    .watching-page .embed-responsive {
        margin-top: 20px; } }
@media (max-width: 575px) {
    .watching-page .drama-info {
        left: -3.2%; } }

.about-us {
    padding: 100px 0; }
.about-us .title {
    color: white; }
.about-us .title:last-child {
    margin-top: 20px; }
.about-us .about-us-p {
    margin: auto 15px;
    font-size: 20px;
    line-height: 1.9; }
.about-us .our-team {
    margin: auto 15px; }
.about-us .our-team img {
    border-radius: 50%;
    margin-top: 10px; }
.about-us .our-team span {
    display: block; }
.about-us .our-team span:last-of-type {
    font-weight: lighter;
    color: #d6d4d4;
    margin-top: -5px; }
.about-us .our-team p {
    font-weight: 300;
    font-size: 13px;
    margin-top: 5px; }
.about-us .our-team .icons {
    margin-top: -5px; }
.about-us .our-team .icons a {
    color: #9da1a5;
    font-size: 18px; }

.privacy a {
    color: #4DB091; }

.desclimer {
    padding: 120px 15px;
    text-align: end; }
.desclimer .title {
    color: white; }
.desclimer p {
    margin: auto 15px;
    font-size: 20px;
    line-height: 1.9; }

.contact-us {
    padding: 100px 0; }
.contact-us h1 {
    margin: 30px 0; }
.contact-us .btn {
    background-color: #4DB091;
    font-size: 17px;
    color: white; }

.videos-page {
    padding: 100px 0; }
.videos-page .title {
    color: white; }

footer {
    width: 100%; }
footer .footer-wrapper {
    background-color: #1c1a1a;
    color: white;
    padding: 3rem 0; }
footer .footer-wrapper .row {
    margin: 0;
    padding: 0; }
footer .footer-wrapper img {
    margin-top: 40px; }
footer .footer-wrapper .more-info h4 {
    color: #4DB091;
    font-size: 22px; }
footer .footer-wrapper .more-info a:first-of-type {
    margin: 20px 0 10px; }
footer .footer-wrapper .more-info a {
    display: block;
    color: #dddddd;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: lighter; }
footer .footer-wrapper .social h4 {
    color: #4DB091;
    font-size: 22px; }
footer .footer-wrapper .social a:first-of-type {
    margin: 20px 0 10px; }
footer .footer-wrapper .social a {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: lighter;
    color: #9da1a5; }
footer .footer-wrapper .social i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    cursor: pointer; }
footer .footer-wrapper p {
    margin-top: 75px;
    font-size: 15px;
    font-weight: lighter;
    color: #dddddd; }
@media (max-width: 767px) {
    footer .footer-wrapper img {
        margin-bottom: 25px; }
    footer .footer-wrapper p {
        margin-top: 10px; } }

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cairo', serif; }

html {
    font-size: 62.5%;
    line-height: 1.428;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

body {
    background-color: #444;
    color: white;
    font-family: "Cairo", "sans-serif";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal; }

#signin {
    position: absolute; }

/*# sourceMappingURL=main.css.map */
