.drama-page {
    padding: 150px 0;

    .poster {
        img {
            border: 4px solid white;
            width: 100%;
        }
    }

    .name {
        padding:20px 0;
        color: $ternary-color;
        text-align: right;
    }

    .story {
        background: $primary-color;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px;
        text-align: right;
        
        &  p:first-child {
            margin: -22px -20.5px 15px;
            border-radius: 5px;
            background: rgb(50, 146, 116);
            font-size: 30px;
            padding: 7px 24px;
        }
    }

    .drama-info {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(84,84,84,0.54);
        margin-bottom: -4px;
        background: rgba(0,0,0,0.3);
        text-align: right;
        border-radius: 5px;        
        .button {
            margin-bottom: 20px;
            border-radius: 5px;
        }

        span {
            display: block;
            margin-bottom: 10px;
        }

        .titles {
            span:after {
                content: " :";
            }
        }
        
        .episodes {

            display: none;
            
            span {
                text-align: right; 
                font-size: 16px;
                display: inline;
            }

            .episode{
                margin-bottom: 12px;
                
                a {
                    float: left;
                    font-size: 19px;
                    color: $primary-color;
                    &:hover{
                        color: rgb(50, 146, 116);
                    }
                }
            }
            
        }
    }

    @media (max-width : $screen-xl-min - 1) {
        .drama-info {
            margin-top: 20px;
        }
    }

    @media (max-width : $screen-lg-min - 1) {
        .drama-info {
            margin-top: -100px;
        }
    }

    @media (max-width : $screen-md-min - 1) {
        .drama-info {
            margin-top: 20px;
            left: -2%;
        }
    }
}