.desclimer {
    padding: 120px 15px;
    text-align: end;
    
    .title {
        color: $ternary-color;
    }

    p {
        margin: auto 15px;
        font-size: 20px;
        line-height: 1.9;
    }
}