.home-page {
    padding-bottom: 50px;
    background: $ternary-color;
    
    .slider img {
        width: 100%;
    }


    .carousel-caption {
        top: 30%;
    }

     .carousel-indicators li {
        cursor: pointer;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-left: 10px;
        background-color: transparent;
        border: 2px solid $primary-color; 
    }
    .carousel-indicators .active {
        background-color: $primary-color!important;
    }

    .post-title {
        margin-bottom: 20px; 
    }

    .carousel-caption {
        h1 {
            font-size: 150px;
            font-weight: bolder;
        }

        h2 {
            font-size:40px;
            font-weight: lighter;
        }

        .button {
            margin: 50px 5px 0 0;
            font-size: 14px;
        }
    }
    
    
    @media (max-width : $screen-md-min - 1) {

        .carousel-caption {
            h1 {
            font-size: 120px;
            }
        }
    }

    @media (max-width : $screen-sm-min - 85) {
        .carousel-caption {
            h1 {
            font-size: 83px;
            }
        }
    }


    .title {
        padding: 40px 0 0 0;
    }


    .responsive {
        a {
            color: $primary-color;
            cursor: pointer;
        }
        
        .slick-next:before, .slick-prev:before {
            color: #222;
        }

        @media (max-width : $screen-sm-min) {

            .slick-next {
                right: 96%;
                left: -25px;
            }
            .slick-prev {
                right: -7px;
                left: auto;
                
            }
        }
        p {
            margin-top: 5px;
        }
    }
    .cl-btn {
        width: 100%;
    }
    @media (max-width : $screen-sm-min - 150px) {

        .cl-btn {
           font-size: 18px;
        }
    }
    
    .modal-content{
        color: #222;
    }

    form {
        text-align: right;

        label {
            margin-right: 7px;
        }

        button {
            margin-right: 7px;
            font-size: 12.5px;
            padding: 5px 7.5px; 
        }
    }
}