.watching-page {
    padding: 150px 0;

    .name {
        margin-bottom: 30px;
    }

    .drama-info {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(84,84,84,0.54);
        margin-bottom: -4px;
        background: rgba(0,0,0,0.3);
        text-align: right;
        border-radius: 5px;        
        .button {
            margin-bottom: 20px;
            border-radius: 5px;
        }

        
        .episodes {
            span {
                text-align: right; 
                font-size: 16px;
            }

            a {
                float: left;
                font-size: 19px;
                color: $primary-color;
                &:hover{
                    color: rgb(50, 146, 116);
                }
            }

            .episode{
                margin-bottom: 12px;
            }
        }
    }

    
    .more-servers {
        width: 100%;

        button {
            width: 100%;
        }

        .dropdown-menu {
            width: 85%;
            font-size: 13px;
        }
    }

    .drama-info .button {
        text-align: center;
        background-color: $primary-color;
        border-color: $primary-color;
        cursor: auto;
    }

    @media (max-width : $screen-md-min - 1) {
        .drama-info {
            left: -2.7%;
        }
        .embed-responsive {
            margin-top: 20px;
        }
    }

    @media (max-width : $screen-sm-min - 1) {
        .drama-info {
            left: -3.2%;
        }
    }

}