/*
Theme Name: Hopesubs 
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Faisal S.
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
Styles based on Normalize v5.0.0 @link https://github.com/necolas/normalize.css
--------------------------------------------------------------*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover{
	text-decoration:none;
}
.header .navbar .nav-item a {
    color: white;
}
.watch_now{
    position: absolute;
    bottom: -25%;
    left: 0;
    right: 0;
}
#download{
	display:none;
}
.btn.loadMoreBtn{
	font-size:25px;
	display:block !important;
	color: #888 !important;
	border:none !important;
}
.watching-page .more-servers{
	margin:0 30px 0 0;
}
#download-button{
    padding: 100px 0;
}
#download-button .title{
    color:#fff;
}
#download-button .quality{
    display: block;
    font-size: 24px;
    text-align: center;
    margin: 0 0 25px;
}
.centered{
    text-align:center;
}
.my-button{
    width: 100%;
    margin: 0 auto 15px;
    display: block;

}
.my-button:hover{
    text-decoration: none;
}
.my-button span{
	margin:0 0 0 5px;
}
.button{
	text-align:center;
	
}
.button:hover{
	text-decoration:none;
}
.page_episode_panel_tabs{
	margin:0 !important;
}
#disqus_thread{
	margin:50px 0 0;
}
.watching-page .name{
	margin:0;
}
@media (min-width: 992px)
{
    .navbar-nav a {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
.navbar-nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
}
.navbar-nav .nav-item .sub-menu{
    display: none;
    position: absolute;
    clear: both;
    background: #fff;
    list-style: none;
    border-radius: 10px;
    padding: 15px 0px 15px 20px;
    white-space: nowrap;
    margin: 0;
}
.navbar-nav .nav-item .sub-menu a{
    color: #4DB091;
}
.navbar-nav .nav-item .sub-menu a:after{
    display: none;;
}
.navbar-nav .menu-item-54 a:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
  
}
.navbar-nav .menu-item-62 a:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
    
}

.navbar-nav .menu-item-100 a:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
}
.navbar-nav .nav-item ul li a{
    display: block;
    color: #4DB091 !important;
    white-space: nowrap;
}
.about-us p{
    margin: auto 15px;
    font-size: 20px;
    line-height: 1.9;
}
.rounded{
	color:#4DB091;
    font-size: 22px;
}
#menu-footer-menu{
    list-style: none;
}
#menu-footer-menu li a{
    margin: 0 0 5px;
}
#menu-footer-menu .menu-item-309 a{
    margin: 20px 0 10px;
}
.watching-page .drama-info .episodes{
    font-size: 20px;
}
.watching-page .more-servers button{
	width:auto;
	border-radius:2px;
}
.button-more{
	width: 150px;
    position: relative;
    background: #eBebeb !important;
    border-radius: 10px !important;
    cursor: pointer;
    font-weight: light;
    color: #888;
    line-height: normal !important;
    padding: 0.5rem 1rem !important;
	outline:0;
    right: 0%;
    margin-top: 20px;
    font-size: 25px !important;
    border: none !important;
}
.button-more:hover{
	border:none;
	color:#222;
	background:#c7c4c4 !important;
}
@media (max-width: 991px){
    .navbar-nav .menu-item-54:after{
        left: 83%;
    }
    .navbar-nav .menu-item-62:after {
        left: 83%;
    }
    .navbar-nav .menu-item-100:after{
        left: 83%;
    }
	.header .navbar{
		background-color: #333;
	}
	.btn.loadMoreBtn{
		padding:0;
	}

}