<div class="videos-page">
    <div class="container">
        <div class="title col">الدراما التايلاندية</div>
        <div class="drama">
            <div class="row text-center">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>