<div class="about-us">
    <div class="container">
        <div class="col">
            <div class="title">معلومات عنا</div>
            <p class="about-us-p">فريق هيمانج للترجمة هو فريق ذو شغف كبير في الدراما والأفلام والثقافة الأسيوية. كما وأنهم ذو خبرة
                وحاملو شهادات في الترجمة أو أفراد قد خضعوا لتدريب يؤهلهم لتوفير ترجمة بجودة عالية ويرغبون بتقديم أفضل الترجمات
                وبأسرع وقت ممكن لإرضاء المشاهدين</p>
        </div>
        <div class="col">
            <div class="title">فريقنا</div>
            <div class="our-team row text-center">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram "></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope "></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram "></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope "></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram "></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope "></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram "></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope "></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <img class="img-fluid" src="images/pic.jpg" />
                    <span>Mahmoud othman</span>
                    <span>Founder</span>
                    <p>some text some text some text some text</p>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter "></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram "></i>
                        </a>
                        <a href="#">
                            <i class="fab fas fa-envelope "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>