<div class="contact-us">
    <div class="container">
        <h1 class="text-center">تواصل معنا</h1>
        <form>
            <div class="form-group">
                <label for="name">الاسم</label>
                <input type="text" class="form-control form-control-lg" id="name" placeholder="اسمك">
            </div>
            <div class="form-group">
                <label for="email">البريد الالكترونى</label>
                <input type="email" class="form-control form-control-lg" id="email" placeholder="بريدك الالكترونى">
            </div>
            <div class="form-group">
                <label for="message">رسالتك</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn  col-sm-2 col">ارسل</button>
        </form>
    </div>
</div>