<div class="desclimer">
    <div class="container">
        <div class="title">Desclimer</div>
        <p>
            Hopesubs are not affiliated with any of the video content and none of the video content are held on our servers. The video
            content that is displayed originates from social video websites, such as, but not limited to YouTube, Dailymotion,
            Archive, and GoogleDrive. In case of copyright infringement, please directly contact the responsible parties.
            hopesubs operates as an index and database of Drama content found publicly available on the internet, in principle
            conducting in the same way as yahoo. However,’ hopesubs‘ strongly believes in the protection of intellectual
            property and would be willing to assist when possible and applicable. Users who upload to these websites agree
            not to upload illegal content when creating their user accounts. hopesubs does not accept responsibility for
            content hosted on third party websites, nor do we upload videos ourselves or encourage others to do so. The videos
            are streamed directly from the third-party video sharing services mentioned above. All other trademarks, logos,
            and images are the property of their respective and rightful owners
        </p>
    </div>
</div>