<div class="drama-page">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5 col-lg-4 col-xl-3 poster">
                <img class="img-fluid" src="images/poster.png">
            </div>
            <div class="col-md-7 col-lg-8 col-xl-6 sto">
                <p class="name h1">مشاهدة مسلسل About a Boy</p>
                <div class="story">
                    <p class="h2">القصة:</p>
                    <p>الطفل ماركوس الذى يبلغ 12 عاما ، ويعيش مع والدته التى تعانى من الاكتئاب المزمن وتدعى فيونا .ماركوس حاول
                        فعل كل ما في وسعه لشفاء والدته من الاكتئاب ويجعلها سعيدة، ، وقال انه يدرك ان ما ينظر إليه مختلفاباعتباره
                        مختلفا عن معظم الأطفال،كما أن جزء من التهكم ضده هي حقيقة أنه يغني ويتحدث لنفسه دون أن يدركوا حتى
                        انه فعل ذلك. كما أن ماركوس يساعد رجل ساخر، والشباب غير الناضج الذي يدرس كيفية التصرف مثل كبروا قبل
                        طفل صغير.</p>
                    <button class="button">مشاهدة الان</button>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 drama-info">
                <div class="row">
                    <button class="button col-6" id="info">معلومات</button>
                    <button class="button col-6" id="episodes">الحلقات</button>
                </div>
                <div class="info row">
                    <div class="titles col-5">
                        <span>اسم المسلسل</span>
                        <span>الاسم بالعربى</span>
                        <span>يعرف ايضا بـ</span>
                        <span>عدد الحلقات</span>
                        <span>البلد المنتج</span>
                        <span>موعد البث</span>
                    </div>
                    <div class="info-value col-7">
                        <span>That Man Oh Soo</span>
                        <span>ذلك الرجل أوه سو</span>
                        <span>그남자 오수</span>
                        <span>16</span>
                        <span>كوريا الجنوبية</span>
                        <span> 5 مارس 2018 لـ24 أبريل 2018 (الإثنين والثلاثاء)</span>
                    </div>
                    <div class="episodes col">
                        <div class="episode">
                            <span>الحلقة الاولى</span>
                            <a href="#">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <div class="episode">
                            <span>الحلقة الاولى</span>
                            <a href="#">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <div class="episode">
                            <span>الحلقة الاولى</span>
                            <a href="#">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <div class="episode">
                            <span>الحلقة الاولى</span>
                            <a href="#">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <div class="episode">
                            <span>الحلقة الاولى</span>
                            <a href="#">
                                <i class="far fa-play-circle"></i>
                            </a>
                        </div>
                        <ul class="page_episode_panel_tabs col">
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery.js"></script>