<div class="footer-wrapper">
    <div class="row text-center">
        <div class="col-12 col-md-3">
            <img src="images/logo-footer.png">
        </div>
        <div class="col-6 col-sm-6 col-md-3  more-info">
            <h4>المزيد من المعلومات</h4>
            <a href="#">معلومات عنا</a>
            <a href="#">تواصل معنا</a>
            <a href="#">إخلاء المسؤولية</a>
            <a href="#">سياسة الخصوصية </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 social">
            <h4>تابعنا على</h4>
            <a href="https://www.facebook.com/Hope-Subs-1763827773925170/#">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://twitter.com/hopehuimang">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/hopehuimang">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
        <div class="col col-md-3 developer">
            <p>جميع الحقوق محفوظة على موقع  Hopesubs <br>2017 Hopesubs, All rights reserved &copy;</p>
        </div>
    </div>
</div>