<div class="header">
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light ">
            <div class="container">
                <img src="images/logo-nav.png" />
                <button class="navbar-toggler nav-btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <i class="fas fa-bars fa-2x"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse links justify-content-center " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الرئيسية
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الدراما
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">قائمة الدراما</a>
                                <a class="dropdown-item" href="#">الدراما الكورية</a>
                                <a class="dropdown-item" href="#">الدراما اليابانية</a>
                                <a class="dropdown-item" href="#">الدراما التايلاندية</a>
                                <a class="dropdown-item" href="#">الدراما التايوانية</a>
                                <a class="dropdown-item" href="#">الدراما الصينية</a>
                                <a class="dropdown-item" href="#">الدراما الفلبينية</a>
                                <a class="dropdown-item" href="#">البرامج الترفيهية</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الافلام
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">قائمة الافلام </a>
                                <a class="dropdown-item" href="#">الافلام الكورية</a>
                                <a class="dropdown-item" href="#">الافلام اليابانية</a>
                                <a class="dropdown-item" href="#">الافلام التايلاندية</a>
                                <a class="dropdown-item" href="#">الافلام التايوانية</a>
                                <a class="dropdown-item" href="#">الافلام الصينية</a>
                                <a class="dropdown-item" href="#">الافلام الفلبينية</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">اغانى</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">انمى</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الحالة
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">يبث حاليا</a>
                                <a class="dropdown-item" href="#">ألاعمال المكتملة</a>
                                <a class="dropdown-item" href="#">الأعمال القادمة</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<script src="js/jquery.js"></script>
