<div class="home-page">
    <div id="carouselExampleIndicators" class="carousel slide slider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner text-center" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="images/header.png" alt="First slide">
                <div class="carousel-caption d-none d-block row">
                    <h1 class="col-12">هيمانج</h1>
                    <h2 class="col-12">بوابتك الى عالم الدراما</h2>
                    <!-- Button trigger modal log in-->
                    <button type="button" class="button btn col-md-3 col-5" data-toggle="modal" data-target="#logIn">
                        تسجيل دخول
                    </button>
                    <!-- Button trigger modal sign up-->
                    <button type="button" class="button btn col-md-3 col-5" data-toggle="modal" data-target="#signUp">
                        عضوية جديدة
                    </button>
                </div>
            </div>
            <!-- Modal log in -->
            <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="logInTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="logInTitle">تسجيل الدخول</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="logInInputEmail">البريد الإلكتروني</label>
                                    <input type="email" class="form-control" id="logInInputEmail" aria-describedby="emailHelp" placeholder="ادخل بريدك الإلكترونى"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="logInInputPassword">كلمة المرور</label>
                                    <input type="password" class="form-control" id="logInInputPassword" placeholder="كلمة المرور" required>
                                </div>
                                <button type="submit" class="btn">تسجيل دخول</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal sign up -->
            <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="signUpTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="signUpTitle">عضوية جديدة</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="signUpInputName">الاسم</label>
                                    <input type="text" class="form-control" id="signUpInputName" aria-describedby="emailHelp" placeholder="ادخل اسمك" required> </div>
                                <div class="form-group">
                                    <label for="signUpInputEmail">البريد الإلكتروني</label>
                                    <input type="email" class="form-control" id="signUpInputEmail" aria-describedby="emailHelp" placeholder="ادخل بريدك الإلكترونى"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="signUpInputPassword">كلمة المرور</label>
                                    <input type="password" class="form-control" id="signUpInputPassword" placeholder="كلمة المرور" required>
                                </div>
                                <div class="form-group">
                                    <label for="signUpInputPassword">تاكيد كلمة المرور</label>
                                    <input type="password" class="form-control" id="signUpInputPassword" placeholder="كلمة المرور" required>
                                </div>
                                <button type="submit" class="btn">تسجيل</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="images/header.png" alt="Second slide">
                <div class="carousel-caption d-none d-block row">
                    <h2 class="col post-title">درامات من اختيارنا</h2>
                    <a href="#">
                        <img class="post col-5" src="images/poster.png">
                    </a>
                    <a href="#">
                        <img class="post col-5" src="images/poster.png">
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="images/header.png" alt="Third slide">
                <div class="carousel-caption d-none d-block row">
                    <h2 class="col-xs-12 post-title">شاهد الان</h2>
                    <a href="#">
                        <img class="post col" src="images/poster.png">
                    </a>
                    <a href="#">
                        <img class="post col" src="images/poster.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title col">أفضل الدرامات</div>
        <div class="drama">
            <div class="row text-center">
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-lg-4">
                    <div class="content">
                        <a href="#">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/poster.png">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">Love Returns</h3>
                                <p class="content-text">واجهت يون جو صعوبات بالغة عندما كانت طفلة. الآن كما الكبار، يون جو يفقد كل شيء. وقالت انها
                                    تبدأ حياتها من جديد ومحاولة للعثور على السعادة.يون جو يلتقي كونغ سيوك بيو.
                                </p>
                                <span>شاهد الان</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12">
                    <button class="button-more">المزيد ... </button>
                </div>
            </div>
        </div>
    </div>
    <div class="new-episodes">
        <div class="container">
            <div class="title col">الحلقات الجديدة</div>
            <div class="responsive autoplay text-center">
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
                <div>
                    <a>
                        <img src="images/new-es.png" class="img-fluid col" />
                        <p>حلقة 14 العودة</p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-12 text-center">
                <button class="button-more">المزيد ... </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary button-more cl-btn" data-toggle="modal" data-target="#calender">
                    اظغط هنا لمعرفة مواعيد الحلقات
                </button>
                <!-- Modal -->
                <div class="modal fade" id="calender" tabindex="-1" role="dialog" aria-labelledby="calender" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <iframe src="https://calendar.google.com/calendar/embed?src=huimanghopy%40gmail.com&ctz=Africa%2FCairo" style="border: 0"
                                    width="100%" height="500px" frameborder="0" scrolling="no"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>