<div class="privacy about-us">
    <div class="container">
        <div class="title">سياسة الخصوصية</div>
        <p class="about-us-p">
            المعلومات التي نجمعها تُطلب المعلومات الشخصية من الزائر عند التسجيل في الموقع حيث نطلب الاسم وعنوان البريد الإلكتروني. يمكن
            زيارة الموقع دون التسجيل رغم أن بعض الخصائص قد لا تكون متاحة كما وأن الموقع يقوم بجمع بعض المعلومات في نظام ملفات
            الدخول للزائر. الهدف من المعلومات المطلوبة المعلومات المطلوبة من الزائر يتم استخدامها لتساعدنا على تلبية حاجاته
            وتفضيلاته أثناء تصفح الموقع ولتطوير الموقع حيث أننا نرغب بتحسين وتطوير موقعنا باستمرار ليلائم أذواق الزائر ويحسن
            من تجربته معنا. لا تُستخدم معلومات الزائر بأي طرق غير لائقة ولا تُنشر أو تباع لأي غرض. الكوكيز والروابط الأخرى
            نحن نستعين بشركة إعلان كطرف ثالث لعرض الإعلانات وعندما تزور موقعنا فإنه يحق لهذه الشركة أن تستخدم معلومات حول
            زيارتك (باستثناء الاسم والعنوان) وذلك من أجل تقديم إعلانات قد تهمك. كما وأننا نستخدم تقنية الكوكيز لحفظ معلومات
            عن تفضيلات الزائر إلى جانب سجل خاص للمستخدم تسجل فيه معلومات محددة عن الصفحات التي تم الوصول إليها أو زيارتها.
            بهذه الخطوة يمكننا أن نعرف مدى اهتمامات الزائر والموضوعات الأكثر تفضيلاً حتى نقوم بدورنا بتطوير محتوانا ليناسب
            زوارنا. يمكن للشركات والتي تعتبر الطرف الثالث في سياسة الخصوصية هذه الإطلاع على مثل هذه البيانات والإحصائيات
            عبر بروتوكولات الإنترنت لأغراض تحسين جودة إعلاناتها وقياس مدى فعاليتها، كما وأن هذه الشركات يحق لها استخدام وسائب
            تقنية مثل الكوكيز وعدادات الشبكة لنفس الأغراض المذكورة أعلاه ومن دون أن أهداف أخرى قد تضر بشكل أو بآخر بالمستخدمين.
            ننصح الزائر بمراجعة سياسية الخصوصية الخاصة بالطرف الثالث من <a href="https://www.google.com/intl/ar/policies/privacy/">هنا</a> 
            <br>أخيراً، نحن ملزمون ضمن بنود هذه الإتفاقية بأن
            نبين لك كيفية تعطيل خاصية الكوكيز حيث أنه يمكنك فعل ذلك من خلال خيارات المتصفح الخاص بك أو تسجيل خروجك من الموقع.
            . عبر استخدامك لموقعنا فأنت توافق على سياسة خصوصية الموقع

        </p>
    </div>
</div>